<!DOCTYPE html>
<html>
  	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link href="http://netdna.bootstrapcdn.com/bootswatch/3.1.1/lumen/bootstrap.min.css" rel="stylesheet">
	    <title>Home - Git Workshop</title>
  	</head>
  	<body role="document">

	    <div class="container">
	    	<div class="page-header">
		    	<img src="img/logo.png">
		    </div>
			<nav class="navbar navbar-default" role="navigation">
			  	<div class="container-fluid">
				    <!-- Brand and toggle get grouped for better mobile display -->
				    <div class="navbar-header">
				      	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
				     	</button>
				    </div>

				    <!-- Collect the nav links, forms, and other content for toggling -->
				    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="active"><a href="index.html">Home</a></li>
							<li><a href="htmlprimer.html">HTML Primer</a></li>
							<li><a href="basic.html">Basic Commands</a></li>
							<li><a href="intermediate.html">Intermediate Commands</a></li>
                            <li><a href="advanced.html">Advanced Commands</a></li>
							<li><a href="learnmore.html">Learn More</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
                            <li><a href="diagrams.html">Diagrams</a></li>
						    <li><a href="https://github.com/">Github</a></li>
						</ul>
				    </div><!-- /.navbar-collapse -->
			  	</div><!-- /.container-fluid -->
			</nav>
			<h1>Welcome to the workshop!</h1>
            <p> If you can see this change, you have successfully pulled!</p>
			<p>
				asdfSometimes when you're working on a project you'll lose your thread or train of though. "Where am I?" you wonder, trying to remember what branch you're on, what you just did or what you're working on at the moment.
			</p>
			<p>
				When this happens you'll get an irresistable urge to type 'ls' over and over again - but wait! You can do more!
			</p>
			<p>
				There are a lot of commands that show you the state of your git project to help you get a hold of where you're up to and are very handy. Here's a short list of commands that should be able to show you (almost) all the information you need. Feel free to try them out whenever and wherever and as often as you like throughout this workshop to see how your git repo changes<sup> #informationispower</sup>
			</p>
			<ul>
				<li>git status</li>
				<li>git branch</li>
				<li>git log</li>
				<li>git show-ref</li>
				<li>git remote -v</li>
				<li>git config -l</li>
				<li>git rev-list HEAD</li>
				<li>git help</li>
                <li>git help &lt;command&gt; (e.g. git help commit)</li>
			</ul>

			<h2>Introduce yourself!</h2>

			<a href="attendees/leo_huang.html">Leo Huang (Tutor)</a><br>
            <a href="attendees/davy_mao.html">Davy Mao (Tutor)</a><br>
            <a href="attendees/MIKEY.html">IM MIKE THE MONSTER! HUEHUEHUE</a><br>
	</body>
</html>
